<%= javascript_include_tag :defaults %>
<h1>Nuevo contacto</h1>

<% form_for(:contacto, @contacto, :url => cliente_contactos_path(@cliente)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.label :tipo_contacto %><br />
    <%= f.text_field :tipo_contacto %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Atrás', cliente_contactos_path %>