<h1>Listing materiasprimas <%= @articulo.articuloreferencia%> </h1>

<table>
  <tr>
    <th>Material</th>
  </tr>

<% @materiasprimas.each do |materiasprima| %>
  <tr>
    <td><%=h materiasprima.material %></td>
    <td><%=h materiasprima.articulo_id %></td>
    <td><%= link_to 'Edit', edit_articulo_materiasprima_path(@articulo, materiasprima) %></td>
    <td><%= link_to 'Destroy', articulo_materiasprima_path(@articulo, materiasprima), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New materiasprima', new_articulo_materiasprima_path %>